@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  font-family: "Inter", "Pathway Extreme", sans-serif;
  text-decoration: none;
  outline: none;
}
